.best-deal {
  padding-top: 140px;
  padding-bottom: 140px;

  // .best-deal__title
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.19;
    text-align: center;
    color: $text-color-white;
    
    @media screen and (min-width: 1000px) {
      font-size: 64px;
      line-height: 1.77;
    }
  }
} 

.best-deal {

  // .best-deal_subscription
  &_subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 80px;

    @media screen and (min-width: 1000px) {
      margin: 40px 0;
    }
  }

  // .best-deal_monthly
  &_monthly {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: $text-color-white;
    margin-right: 24px;

    @media screen and (min-width: 1000px) {
      font-size: 24px;
    }
  }

  // .best-deal_yearly
  &_yearly {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: $yearly-text-color;

  @media screen and (max-width: 1000px) {
      position: relative;
      margin-left: 24px;
    }

    @media screen and (min-width: 1000px) {
      flex-direction: row;
      font-size: 24px;
      margin-left: 24px;
    }
}

  // .best-deal_yearly--subtitles
  &_yearly--subtitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88px;
    font-style: italic;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: $text-color-white;
    transform: rotate(6deg);
    margin-left: 24px;

    @media screen and (max-width: 1000px) {
      position: absolute;
      flex-direction: column-reverse;
      top: 32px;
      right: 10px;
    }
  }

  &_yearly--arrow {
    fill: $bcg-color-white;
    transform: rotate(107.94deg);

    @media screen and (max-width: 1000px) {
      margin-bottom: 5px;
      transform: matrix(0.23, -0.97, -0.97, -0.23, 0, 0);
    }
  }
}

//Toggle
.best-deal__input {
  display: block;
}

.best-deal__input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.best-deal__label {
  cursor: pointer;
  text-indent: -9999px;
  width: 104px;
  height: 52px;
  background: $bcg-color-white;
  display: block;
  border-radius: 100px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 5px;
    width: 36px;
    height: 36px;
    background: $bcg-color-green;
    border-radius: 90px;
    transition: 0.3s;
  }

  &:active:after {
    width: 60px;
  }
}

.best-deal__input:checked+.best-deal__label {
  background: $bcg-color-white;
}

.best-deal__input:checked+.best-deal__label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.card-set {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;

  @media screen and (min-width: 1310px) {
    gap: 40px;
  }

  // .card-set__item
  &__item {
    @extend %list;

    background-color: $bcg-color-grey;
    border-radius: 16px;
    padding: 32px 32px 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color $transition-duration;

    &:focus,
    &:hover {
      background-color: $bcg-color-green;
    }

    &:focus .card-set__button,
    &:hover .card-set__button {
      background-color: $bcg-color-black;
      color: $text-color-white;
      transition: color $transition-duration;
    }

  }

  // .card-set__features
  &__features {}

  // .card-set__title
  &__title {
    font-size: 32px;
    line-height: 100%;
    color: $text-color-black;
    padding-bottom: 8px;

    @media screen and (min-width: 1000px) {
      font-size: 36px;
    }
  }

  // .card-set__text
  &__text {
    position: relative;
    font-size: 18px;
    line-height: 100%;
    color: $text-color-black;
    padding-bottom: 32px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 1px;
      border-radius: 2px;
      opacity: 0.2;
      background-color: $bcg-color-black;
    }
  }

  // .card-set__price
  &__price {
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    color: $text-color-black;
    margin-top: 32px;

    @media screen and (min-width: 1000px) {
      font-size: 64px;
    }
  }

  &__months {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: $text-color-black;
  }

  // .card-set__list
  &__list {
    @extend %list;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  // .card-set__privilege
  &__privilege {
    color: $text-color-black;

    &:not(:last-child) {
      padding-bottom: 24px;
    }
  }

  // .card-set__button
  &__button {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;  
    text-align: center;
    color: $text-color-black;
    background: $bcg-color-green;
    border: none;
    border-radius: 29px;
    padding: 14px 69px;

    @media screen and (min-width: 1000px) {
      padding: 17px 79px;
    }
  }
}