.helps {
  background: $bcg-color-white;
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (min-width: 1310px) {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  // .helps__text
  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.19;
    color: $text-color-black;

    @media screen and (min-width: 1000px) {
      font-size: 64px;
    }
  }

  // .helps__text--grey
  &__text--grey {
    color: $helps-text-color;
  }
}