.mobile-menu {
  position: fixed;
  background-color: $bcg-color-black;
  box-shadow: $mobile-box-shadow;
  position: fixed;
  top: 0;
  right: -110%;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  z-index: 10;
  justify-content: space-between;

  transition: right $transition-duration;

  &.is-open {
    right: 0%;
    padding: 48px 40px;
    display: flex;
  }
}

.mobile-menu__button {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 10px;
  right: 10px;
  z-index: 25;
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;

  @media screen and (min-width: 767.98px) {
    display: none;
  }
}

.mobile-menu__icons:focus,
.mobile-menu__icons:hover {
  // fill: $accent-color;
}

.icon-cross {
  display: none;
}

.is-open {
  .icon-cross {
    display: block;
    position: fixed;
  }

  .icon-menu {
    display: none;
  }
}