.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: $backdrop-bcg-color;
  opacity: 1;
  transition: opacity $transition-duration, visability $transition-duration;
  z-index: 50;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  & .modal {
    transform: translate(-50%, -50%) scale(1.2);
    transition: visibility $transition-duration, transform $transition-duration;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform $transition-duration;
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  // background: $primary-white-color;
  box-shadow: $modal-border-bcg-color;
  border-radius: 4px;

  @media screen and (max-width: 460px) {
    transform: translate(-50%, -50%) scale(0.7);
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  // border: 1px solid $close-icon-color;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: border-color $transition-duration;

  &:active {
    opacity: 0.8;
    transform: scale(.95);
  }

  &:focus,
  &:hover {
    // border-color: $accent-color;
  }

  &:focus .modal__icon-close,
  &:hover .modal__icon-close {
    // fill: $accent-color;
  }
}