.platform-connect {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $bcg-color-grey;
  text-align: center;

  @media screen and (min-width: 1000px) {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  // .platform-connect__title
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.19;  
    text-align: center;
    color: $bcg-color-black;
    margin-bottom: 32px;

    @media screen and (min-width: 1000px) {
      font-size: 64px;
      line-height: 1.88;
      margin-bottom: 80px;
    }
  }
}

.socials-platform {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;

  @media screen and (min-width: 1000px) {
    gap: 24px;
    margin-bottom: 77px;
  }

  // .socials-platform__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background-color: $bcg-color-white;
    border-radius: 8px;
    transition: background-color $transition-duration, transform $transition-duration;

    @media screen and (min-width: 1000px) {
      width: 124px;
      height: 124px;
    }

    &:focus, &:hover {
      background-color: $bcg-color-green;
    }

    &:hover .socials-platform__icon,
    &:focus .socials-platform__icon {
      transform: scale(1.2);
    }
  }

  // .socials-platform__link
  &__link {}

  // .socials-platform__icon
  &__icon {
    transition: transform $transition-duration;
    width: 30px;
    height: 30px;

    @media screen and (min-width: 1000px) {
      width: 60px;
      height: 60px;
    }
  }
}

.screenshot-platform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;

  // .screenshot-platform__item
  &__item:not(:last-child) {
    margin-bottom: 40px;
  }

  // .screenshot-platform__img
  &__img {
    transition: transform $transition-duration;
  
    &:hover,
    &:focus {
      transform: scale(1.05);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, .12), 0px 8px 8px rgba(0, 0, 0, .06), 2px 8px 12px rgba(0, 0, 0, .16);
    }
  }
}

.button-black {
  font-weight: 700;
  line-height: 140%;
  padding: 16px 32px;
  margin: 0 auto;
  color: $text-color-white;
  background-color: $bcg-color-black;

  &:focus, &:hover {
    background-color: $bcg-color-green;
  }
}