.socials {
  @extend %list;
  
  display: flex;
  justify-content: center;
  list-style: none;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color $transition-duration;

  &:focus,
  &:hover,
  &:focus .socials__icon,
  &:hover .socials__icon {
    // fill: $primary-white-color;
    // background-color: $accent-color;
    transition: background-color $transition-duration;
  }
}

// .socials__link--grey {
//   background-color: $network-firm-color;
// }

// .socials__icon {
//   fill: $primary-icon-color;
// }

// .socials__icon--white {
//   fill: $primary-white-color;
// }