body {
  background-color: $bcg-color-black;
  color: $text-color-white;
  font-family: $rubik-font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}