// Fonts
$rubik-font: 'Rubik', sans-serif;
$inter-font: 'Inter', sans-serif;
$roboto-font: 'Roboto', sans-serif;

//Transition
$transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//Fundamental colors
// background
$bcg-color-black: #000000;
$bcg-color-green: #A8FF35;
$bcg-color-white: #FFFFFF;
$bcg-color-grey: #FAFAFA;
// text
$text-color-black: #000000;
$text-color-white: #FFFFFF;

//Icon
$logo-green-color: #A8FF35;
$primary-icon-color: #afb1b8;
$secondary-icon-color: #757575;
$black-icon-color: #212121;

// Header
$header-border-color: #ececec;
$logo-color: #000000;

// Hero
$hero-text-color: #8B8B8B;

// Open
$open-bcg-color: #F5F5F5;

// Helps
$helps-text-color: #ADADAD;

// Get your best deal
$yearly-text-color: #7A7A7A;

// Join us on email for
$join-text-color: #87D322;

// Footer
$footer-contact-color: rgba(255, 255, 255, 0.6);
$network-firm-color: rgba(255, 255, 255, 0.1);
$subscription-input-border: 1px solid rgba(255, 255, 255, 0.3);
$subscription-input-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
$subscription-placeholder-color: rgba(255, 255, 255, 0.6);

// Modal
$backdrop-bcg-color: rgba(0, 0, 0, 0.2); 
$modal-border-bcg-color: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$close-border-color: rgba(0, 0, 0, 0.1);
$close-icon-color: #0000001a;

// Form
$input-border: 1px solid rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);

//Mobile menu
$mobile-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);